body
html
    height 100%

body
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    color #212121
    margin 0
    background #fafafa

    &::-webkit-scrollbar-track
        background-color #f0f0f0

    &::-webkit-scrollbar
        width 6px

    &::-webkit-scrollbar-thumb
        background-color #888

main
    padding-top 48px
    min-height 100vh
    box-sizing border-box

article
    padding 40px 0
    display flex
    justify-content space-between

    &:nth-child(even)
        background #fff

        & section
            background #fafafa

        & .list .item
            background #fff

    & section
        margin 0 8px

        &:only-of-type
            margin 0 0

        &:first-child
            margin-left 0

        &:last-child
            margin-right 0

.container
    max-width 960px
    width 100%
    margin-left auto
    margin-right auto
    position relative
    display flex
    justify-content space-between
    
.container-sidebar
    padding-right 220px
    box-sizing border-box

section
.section
    width 100%
    display flex
    flex-direction column
    transition opacity .3s, visibility .3s
    background #fff
    border-radius 4px
    padding 20px
    box-sizing border-box

.section
    &-title
        margin 0 0 24px 0
        font-size 20px
        font-weight normal

.detail
    height 100%

    .item
        min-height 100%

.header
    position absolute
    left 0
    top 0
    width 100%
    box-sizing border-box
    height 48px
    background #fff
    box-shadow 0 0 1px 1px rgba(0,0,0,.05)
    z-index 1

    &-inner
        max-width 960px
        margin 0 auto
        display flex
        align-items center
        justify-content space-between

    &-title
        margin 0
        font-size 20px
        font-weight normal
        margin-left 20px

        &-logo
            & img
                height 20px

        &-section
            color #868686

.footer
    background #111
    color #b7b7b7

    &-inner
        padding 24px 20px
        box-sizing border-box
        max-width 960px
        margin 0 auto
        display flex
        align-items center
        justify-content space-between
        font-size 13px

    ul 
        list-style none
        margin 0
        padding 0

    a
        color #fff
        text-decoration none

        &:hover
            text-decoration underline

.home
    &-hero
        padding 100px 20px !important
        text-align center
        background-image linear-gradient(225deg,#ffc63f,#fd3358 49%,#bc35d8)
        color #fff
        position relative
        overflow hidden
        flex-direction column

        &:after
        &:before
            content ""
            opacity .2
            position absolute
            border-radius 50%
            transform translateX(-50%)
            left 50%
            pointer-events none

        &:before
            width 1583px
            height 1583px
            background-image radial-gradient(circle 934px at 73.95% 43.4%,#ffff4f 0,rgba(254,255,39,0) 100%)
            top -4px

        &:after
            width 942px
            height 942px
            background-image radial-gradient(circle 545px at 36% 24%,#ffff4f 0,rgba(254,255,39,0) 100%)
            top calc(100% - 33px)
            transform translate3d(-50%,-50%,0)

        & h1
        & p
            position relative
            z-index 1

        & h1
            font-size 56px
            font-weight normal
            margin 0 0 12px 0
            color #fff

        & p
            margin 0
            font-size 16px

    &-timeline
        background #fff
        color #111
        padding 100px 20px

        & .section-title
            max-width 960px
            width 100%
            padding 0 20px
            margin-left auto
            margin-right auto

    &-counters
        background #111
        color #fff
        padding 100px 20px
        
        & .counter
            &-value
                font-size 56px
                font-weight 700
                display inline-block
                width 100%
                background-image linear-gradient(180deg,#ffc63f,#fd3358)
                -webkit-background-clip text
                -webkit-text-fill-color transparent

            &-label
                font-size 18px
                font-weight normal