color_white = #ffffff
color_white_hover = #fafafa
color_white_active = #eeeeee

color_white_a70 = rgba(255, 255, 255, 0.7)
color_white_a50 = rgba(255, 255, 255, 0.5)
color_white_a30 = rgba(255, 255, 255, 0.3)

color_gray_70 = #565656
color_gray_50 = #858585
color_gray_30 = #B3B3B3

color_black = #111111
color_black_hover = #292929
color_black_active = #000000

color_black_a70 = rgba(17, 17, 17, 0.7)
color_black_a50 = rgba(17, 17, 17, 0.5)
color_black_a30 = rgba(17, 17, 17, 0.3)

color_red = #ff4734
color_red_hover = #ff5a49
color_red_active = #ff3124

color_green = #4ad504
color_green_hover = #5cd91e
color_green_active = #3bcc03

color_blue = #1c91ff
color_blue_hover = #339cff
color_blue_active = #167bff

color_magenta = #f93262
color_magenta_hover = #fa4772
color_magenta_active = #f7284e

color_gradient = linear-gradient(225deg, #ffc63f, #fd3358 49%, #bc35d8)

a
    color color_blue
    text-decoration none

input
    font-family -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

.hidden
    visibility hidden
    opacity 0

.button
    text-decoration none
    display inline-block
    font-size 13px
    color color_white
    background #38393a
    padding 4px 16px
    border-radius 2px
    border 1px solid #38393a
    outline none
    cursor pointer
    transition transform .3s

    &:hover
        transform translateY(-1px)

.icon
    fill currentColor
    height 24px
    width 24px

.loader
    position absolute
    z-index 1
    left 0
    top 0
    right 0
    bottom 0
    margin auto
    width 64px
    height 64px
    color color_magenta
    visibility hidden
    opacity 0
    transition opacity .3s, visibility .3s
    animation loader-1 4.8s linear infinite
    
    &-visible
        visibility visible
        opacity 1

    &-small
        width 32px
        height 32px

    &-inner
    &-inner:after
        display block
        position absolute
        top 0
        left 0
        bottom 0
        right 0
        width 100%
        height 100%
        box-sizing border-box
        border-radius 50%
        content ""

    &-inner
        clip rect(0, 64px, 64px, 32px)
        animation loader-2 1.2s linear infinite

        .loader-small &
            clip rect(0, 32px, 32px, 16px)

        &:after
            clip rect(0, 64px, 64px, 32px)
            border 3px solid currentColor
            animation loader-3 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite

            .loader-small &
                clip rect(0, 32px, 32px, 16px)

@keyframes loader-1
    0%
        transform rotate(0deg)
    100%
        transform rotate(360deg)

@keyframes loader-2
    0%
        transform rotate(0deg)
    100%
        transform rotate(220deg)

@keyframes loader-3
    0%
        transform rotate(-140deg)
    50%
        transform rotate(-160deg)
    100%
        transform rotate(140deg)