<div class="control">
    <label class="control-label" for="control-{{param.alias}}">
        {{ param.name }}
    </label>

    <div class="control-inner" ng-class="{'control-dropdown': !!param.values}">
        <input class="control-input" id="control-{{param.alias}}" ng-model="param.value"/>

        <div class="control-dropdown-options">
            <div class="control-dropdown-options-item"
                 ng-repeat="value in param.values"
                 ng-class="{'control-dropdown-options-item-selected': param.value === value.value}"
                 ng-click="setValue(value)">
                {{ value.name }}
            </div>
        </div>
    </div>
</div>
