<div class="item item-type-{{item.type.alias}}">
    <a class="item-open" href="#/{{ type }}s/{{ item.id }}" title="Open detail">
        <i class="icon icon-arrow icon-arrow-right"></i>
    </a>

    <div class="item-icon-container" ng-if="parts.icon">
        <div class="item-icon" ng-include="icon"></div>
    </div>

    <div class="item-inner">
        <div class="item-header">
            <div ng-switch on="type">
                <h4 ng-switch-when="feature">{{ item.title }}</h4>
                <h4 ng-switch-when="custom">{{ item.title }}</h4>
                <h4 ng-switch-when="release">{{ item.product.name + ' ' + item.version }}</h4>
                <h4 ng-switch-default>{{ item.name }}</h4>
            </div>
        </div>
    
        <div ng-if="parts.body !== false" class="item-body" ng-transclude>
            <div ng-switch on="type">
                <p ng-switch-when="feature">{{ item.data }}</p>
                <p ng-switch-when="custom">{{ item.data }}</p>
                <p ng-switch-when="app">{{ item.caption }}</p>
                <div ng-switch-when="release">
                    <p>Features in this release:</p>
                    <ul class="release-features">
                        <li class="release-features-item" ng-repeat="feature in item.features">
                            <span>{{ feature.title }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div ng-if="parts.timeline" class="timeline-item timeline-item-apart">
            <div class="timeline-item-marker"></div>
        </div>
    
        <div ng-if="parts.tags || parts.date" class="item-footer">
            <tags ng-if="parts.tags" class="item-footer-tags" icon="true" items="item.tags"></tags>
            <span ng-if="parts.date && item.updated_at" class="item-footer-date"><b>{{ item.updated_at }}</b></span>
        </div>
    </div>
</div>