<div class="list-container">
    <div class="list-header" ng-if="title || !currentSection">
        <h3 class="list-header-title">{{ title }}</h3>

        <a ng-if="!currentSection" class="list-header-all" href="#/{{ type }}s/">
            All {{ type }}s >
        </a>
    </div>

    <div class="list" ng-class="{
            'list-half': size == 'half',
            'list-third': size == 'third'
        }">
        <list-item ng-repeat="item in filterItems | startFromFilter: startingItem() | limitTo: perPage | filter: search | orderBy:sortType:sortReverse"
            item="item" show="show" type="type"></item>    
    </div>

    <div class="pagination" ng-if="paginationEnabled()">
        <button class="pagination-button pagination-button-prev" 
            ng-disabled="isFirstPage()" ng-click="pageBack()">
            <i class="icon icon-arrow icon-arrow-left"></i>
        </button>

        <span class="pagination-pages">
            <b>{{ page + 1 }}</b>/<b>{{ totalPages() }}</b>
        </span>

        <button class="pagination-button pagination-button-next" 
            ng-disabled="isLastPage()" ng-click="pageForward()">
            <i class="icon icon-arrow icon-arrow-right"></i>
        </button>
    </div>

    <div class="loader loader-small" ng-class="{ 'loader-visible': !filterItems }"><div class="loader-inner"></div></div>
</div>