<div class="list-container">
    <div class="list-header" ng-if="title || !currentSection">
        <h3 class="list-header-title">{{ title }}</h3>

        <a ng-if="!currentSection" class="button list-header-all" href="#/{{ type }}s/">See All</a>
    </div>

    <div class="list" ng-class="{
            'list-half': size == 'half',
            'list-third': size == 'third'
        }">
        <list-item ng-repeat="item in filterItems | startFromFilter: startingItem() | limitTo: perPage | filter: $root.search | orderBy:sortType:sortReverse"
            item="item" show="show" type="type"></item>
    </div>

    <div class="list-empty" ng-show="filterItems && !filterItems.length">
        <span class="list-empty-header">No results found</span>
        <span class="list-empty-action">Its time to add a new one</span>
        <a class="button list-empty-button" href="/#{{ features }}/new/">
            Add new {{type}}
        </a>
    </div>

    <div class="pagination" ng-if="paginationEnabled">
        <button class="pagination-button pagination-button-prev" 
            ng-disabled="isFirstPage()" ng-click="pageBack()">
            <svg class="icon">
                <use xlink:href="./img/icons/icons.svg#arrow-back"></use>
            </svg>
        </button>

        <span class="pagination-pages">
            <b>{{ page + 1 }}</b>/<b>{{ totalPages() }}</b>
        </span>

        <button class="pagination-button pagination-button-next" 
            ng-disabled="isLastPage()" ng-click="pageForward()">
            <svg class="icon">
                <use xlink:href="./img/icons/icons.svg#arrow-forward"></use>
            </svg>
        </button>
    </div>

    <loader size="small" active="itemsIsLoading"></loader></div>