a {
  color: #1c91ff;
  text-decoration: none;
}
input {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.button {
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  color: #fff;
  background: #38393a;
  padding: 4px 16px;
  border-radius: 2px;
  border: 1px solid #38393a;
  outline: none;
  cursor: pointer;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.icon {
  fill: currentColor;
  height: 24px;
  width: 24px;
}
.loader {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 64px;
  height: 64px;
  color: #f93262;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  -webkit-animation: loader-1 4.8s linear infinite;
          animation: loader-1 4.8s linear infinite;
}
.loader-visible {
  visibility: visible;
  opacity: 1;
}
.loader-small {
  width: 32px;
  height: 32px;
}
.loader-inner,
.loader-inner:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  content: "";
}
.loader-inner {
  clip: rect(0, 64px, 64px, 32px);
  -webkit-animation: loader-2 1.2s linear infinite;
          animation: loader-2 1.2s linear infinite;
}
.loader-small .loader-inner {
  clip: rect(0, 32px, 32px, 16px);
}
.loader-inner:after {
  clip: rect(0, 64px, 64px, 32px);
  border: 3px solid currentColor;
  -webkit-animation: loader-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: loader-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.loader-small .loader-inner:after {
  clip: rect(0, 32px, 32px, 16px);
}
@-webkit-keyframes loader-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}
@keyframes loader-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}
@-webkit-keyframes loader-3 {
  0% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
            transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
@keyframes loader-3 {
  0% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
            transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
body,
html {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #212121;
  margin: 0;
  background: #fafafa;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: #888;
}
main {
  padding-top: 48px;
  min-height: 100vh;
  box-sizing: border-box;
}
section {
  padding: 40px 0;
}
section:nth-child(even) {
  background: #fff;
}
section:nth-child(even) .list-container {
  background: #fafafa;
}
section:nth-child(even) .list-container .item {
  background: #fff;
}
.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.container-sidebar {
  padding-right: 220px;
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 599px) {
  .row {
    flex-direction: column;
  }
}
.row > div {
  margin: 0 8px;
}
.row > div:only-of-type {
  margin: 0 0;
}
.row > div:first-child {
  margin-left: 0;
}
.row > div:last-child {
  margin-right: 0;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.05);
  z-index: 1;
}
.header-inner {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  margin-left: 20px;
}
.header-title-logo {
  display: block;
}
.header-title-logo img {
  height: 24px;
}
.header-title-section {
  font-size: 18px;
  font-weight: normal;
  color: #868686;
}
.footer {
  background: #111;
  color: #b7b7b7;
  font-size: 14px;
}
.footer-inner {
  padding: 24px 20px;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer p {
  margin: 0;
  margin-bottom: 8px;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  margin-bottom: 8px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-user .user-login {
  position: relative;
}
.footer-user .user-login-label {
  display: block;
}
.footer-user .user-login-input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.footer-user .user-login-button {
  position: absolute;
  right: 0;
  top: 0;
}
.home-hero {
  padding: 100px 20px !important;
  text-align: center;
  background-image: linear-gradient(225deg, #ffc63f, #fd3358 49%, #bc35d8);
  color: #fff;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.home-hero:after,
.home-hero:before {
  content: "";
  opacity: 0.2;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  pointer-events: none;
}
.home-hero:before {
  width: 1583px;
  height: 1583px;
  background-image: radial-gradient(circle 934px at 73.95% 43.4%, #ffff4f 0, rgba(254,255,39,0) 100%);
  top: -4px;
}
.home-hero:after {
  width: 942px;
  height: 942px;
  background-image: radial-gradient(circle 545px at 36% 24%, #ffff4f 0, rgba(254,255,39,0) 100%);
  top: calc(100% - 33px);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.home-hero h1,
.home-hero p {
  position: relative;
  z-index: 1;
}
.home-hero h1 {
  font-size: 56px;
  font-weight: normal;
  margin: 0 0 12px 0;
  color: #fff;
}
.home-hero p {
  margin: 0;
  font-size: 16px;
}
.home-timeline {
  background: #fff;
  color: #111;
  padding: 52px 20px;
}
.home-timeline-title {
  max-width: 920px;
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: normal;
}
.home-counters {
  background: #111;
  color: #fff;
  padding: 100px 20px;
}
.home-counters .counter-value {
  font-size: 56px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  background-image: linear-gradient(180deg, #ffc63f, #fd3358);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-counters .counter-label {
  font-size: 18px;
  font-weight: normal;
}
.home-cta {
  padding: 28px 20px;
  margin: 28px auto;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  max-width: 320px;
  background: #fafafa;
}
.home-cta-button {
  padding: 8px 16px;
}
.home-cta-title {
  margin-bottom: 16px;
  font-size: 18px;
}
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.nav-menu-item {
  display: inline-block;
  position: relative;
}
.nav-menu-item-active,
.nav-menu-item:hover {
  background: #fafafa;
}
.nav-menu-item-link {
  font-size: 14px;
  text-decoration: none;
  height: 48px;
  box-sizing: border-box;
  display: block;
  padding: 0 16px;
  color: #212121;
  display: flex;
  align-items: center;
}
.nav-menu-item-button ~ a {
  padding-right: 48px !important;
}
.nav-menu-item-button {
  position: absolute;
  right: 14px;
  top: 12px;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #f93262;
  text-align: center;
  z-index: 1;
  transition: all 0.3s;
}
.nav-menu-item-button:before,
.nav-menu-item-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.nav-menu-item-button:before {
  transition: all 0.3s;
}
.nav-menu-item-button:after {
  width: 50%;
  height: 50%;
}
.nav-menu-item-button .icon {
  width: 100%;
  height: 100%;
}
.nav-menu-item-button:hover:before {
  background: #f9c8d4;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-template-rows: repeat(auto-fit, -webkit-max-content);
  grid-template-rows: repeat(auto-fit, max-content);
  grid-gap: 12px;
}
.list-half {
  grid-template-columns: repeat(auto-fill, calc(50% - 6px));
}
@media only screen and (max-width: 979px) {
  .list-half {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
.list-third {
  grid-template-columns: repeat(auto-fill, calc(33% - 6px));
}
@media only screen and (max-width: 979px) {
  .list-third {
    grid-template-columns: repeat(auto-fill, calc(50% - 6px));
  }
}
@media only screen and (max-width: 599px) {
  .list-third {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
.list-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #858585;
  font-size: 14px;
  padding: 40px 0;
}
.list-empty-header {
  font-size: 18px;
  color: #212121;
  margin-bottom: 32px;
}
.list-empty-button {
  margin-top: 12px;
  padding: 8px 24px;
}
.list-empty-button .icon {
  width: 100%;
  height: 100%;
}
.list-container {
  position: relative;
  min-height: 100px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  flex-grow: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}
.list-header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-header-title {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.list-header-all {
  font-size: 14px;
}
.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  box-sizing: border-box;
  padding: 20px 0;
  margin: 40px 0;
  background: #fff;
  border-radius: 4px;
}
.sidebar-fixed {
  position: fixed;
  right: 20px;
  top: 48px;
  width: auto;
  flex: 0 0 auto;
  z-index: 1000;
  opacity: 0.8;
  transition: width 0.3s;
}
.sidebar-fixed:hover {
  opacity: 1;
}
.sidebar-group {
  padding: 16px 0;
  margin: 0 20px;
  border-bottom: 1px solid rgba(153,153,153,0.2);
}
.sidebar-group:first-child {
  padding-top: 0;
}
.sidebar-group:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.sidebar-group-header {
  font-size: 14px;
  margin-bottom: 8px;
}
.sidebar-footer {
  padding: 0 20px;
}
.search {
  position: relative;
  transition: width 0.3s;
  color: #565656;
}
.sidebar-fixed .search {
  width: 20px;
}
.sidebar-fixed:hover .search {
  width: 200px;
}
.search-icon {
  transition: all 0.3s;
  opacity: 0.6;
  position: absolute;
  right: 6px;
  top: 5px;
  width: 20px;
  height: 20px;
}
.search:hover .search-icon {
  opacity: 0.8;
}
.search-input {
  outline: 0;
  border: 0;
  border: 1px solid rgba(153,153,153,0.4);
  padding: 0 10px;
  padding-right: 32px;
  border-radius: 2px;
  line-height: 32px;
  height: 32px;
  font-size: 13px;
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  transition: all 0.3s;
}
.sidebar-fixed .search-input {
  transition: all 0s;
  opacity: 0;
}
.sidebar-fixed:hover .search-input {
  transition: all 0.3s 0.3s;
  opacity: 1;
}
.search-input::-webkit-input-placeholder {
  opacity: 0.8;
  font-size: 13px;
  transition: opacity 0.3s;
}
.search-input:-ms-input-placeholder {
  opacity: 0.8;
  font-size: 13px;
  transition: opacity 0.3s;
}
.search-input::-ms-input-placeholder {
  opacity: 0.8;
  font-size: 13px;
  transition: opacity 0.3s;
}
.search-input::placeholder {
  opacity: 0.8;
  font-size: 13px;
  transition: opacity 0.3s;
}
.search-input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.search-input:focus:-ms-input-placeholder {
  opacity: 0;
}
.search-input:focus::-ms-input-placeholder {
  opacity: 0;
}
.search-input:focus::placeholder {
  opacity: 0;
}
.search-input:focus ~.search-icon {
  opacity: 1;
}
.list .item {
  background: #fafafa;
  box-shadow: 0 1px 3px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.06);
  padding-right: 60px;
}
.list .item-actions {
  width: 60px;
}
.item {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  transition: background 0.3s;
  padding: 20px;
  padding-right: 80px;
}
.item.detail,
.item.edit {
  min-height: 160px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}
.item-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 20px;
}
.item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  transition: background 0.3s;
}
.item-actions {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 100%;
  background: rgba(0,0,0,0.01);
}
.item-action {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}
.item-action:hover {
  background: rgba(0,0,0,0.01);
}
.item-action:hover .icon {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.item-action .icon {
  width: 32px;
  height: 32px;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.item-action-open {
  color: #565656;
}
.item-action-close {
  color: #ff4734;
}
.item-action-save {
  color: #ff4734;
}
.item-header h1 {
  margin: 0;
  font-size: 22px;
  font-weight: normal;
}
.item-header h4 {
  margin: 0;
  font-size: 18px;
  padding-right: 20px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-body {
  margin-top: 24px;
  height: 100%;
  position: relative;
}
.item.detail .item-body {
  margin-top: 32px;
}
.item-body p {
  margin: 0;
  font-size: 14px;
  color: #858585;
}
.list .item-body p {
  max-height: 56px;
  overflow: hidden;
}
.item-body ul {
  margin: 8px 0;
  padding: 0 16px;
  font-size: 14px;
  color: #858585;
}
.item-body-list {
  margin: 8px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
ul.item-body-list {
  margin: 8px 0;
  padding: 0;
}
.item-body-list-item {
  display: block;
  font-size: 13px;
  padding: 12px 32px 12px 12px;
  position: relative;
  margin: 2px 0;
  margin-right: 8px;
  width: calc(33% - 8px);
  box-sizing: border-box;
  background: #fafafa;
  border-radius: 2px;
}
.item-body-list-item:nth-child(4n) {
  margin-right: 0;
}
.item-body-list-item-more {
  cursor: pointer;
  position: absolute;
  color: #212121;
  right: 0;
  top: 0;
  width: 32px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.01);
}
.item-body-list-item-more .icon {
  width: 16px;
  height: 16px;
}
.item-footer {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: -2px;
}
.item.detail .item-footer {
  margin-top: 32px;
}
.item-footer-right {
  margin-left: auto;
  margin-right: -4px;
  display: flex;
}
.item-footer-date,
.item-footer-subscribers {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #858585;
  margin: 0 4px;
}
.item-footer-date .icon,
.item-footer-subscribers .icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.item-icon {
  width: 48px;
  height: 48px;
}
.item-icon svg {
  width: 48px;
  height: 48px;
}
.item-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.list .item-icon-container {
  margin-right: 12px;
}
.subscribers {
  margin-top: 28px;
  border-radius: 4px;
  background: #fff;
  position: relative;
  min-height: 90px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}
.subscribers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.subscribers-list-container {
  padding: 24px 20px 24px;
}
.subscribers-list-header {
  font-weight: normal;
  margin: 0 0 16px;
  font-size: 18px;
}
.subscribers-list-item {
  display: block;
  margin: 2px 0;
  font-size: 13px;
  padding: 12px 32px 12px 12px;
  position: relative;
  margin-right: 8px;
  width: calc(25% - 8px);
  box-sizing: border-box;
  background: #fafafa;
  border-radius: 2px;
}
.subscribers-list-item:nth-child(4n) {
  margin-right: 0;
}
.subscribers-list-item-email {
  display: block;
  margin-top: 4px;
}
.subscribers-list-item-remove {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.01);
}
.subscribers-list-item-remove .icon {
  width: 16px;
  height: 16px;
}
.subscribers-form-container {
  background: rgba(0,0,0,0.01);
  padding: 24px 20px 24px;
}
.subscribers-form-header {
  margin: 0 0 16px;
  font-size: 14px;
}
.subscribers-form-body {
  display: flex;
  text-align: right;
}
.subscribers-form-body label {
  display: block;
  margin-right: 20px;
}
.subscribers-form-body input {
  text-align: left;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #38393a;
  padding: 4px 0;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.pagination-pages {
  display: inline-block;
  font-size: 15px;
  margin: 0 8px;
}
.pagination-button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.pagination-button .icon {
  width: 24px;
  height: 24px;
}
.pagination-button-prev:hover {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
.pagination-button-next:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -4px;
}
.tags-inner {
  display: flex;
  align-items: center;
}
.tags-icon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  color: #858585;
}
.tags-item {
  display: inline-block;
  position: relative;
  margin: 2px 4px;
  border-radius: 24px;
  font-size: 11px;
  background: rgba(35,47,52,0.12);
  color: #232f34;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.tags-item-feature {
  color: #fff;
  background: #1c91ff;
}
.tags-item-change {
  color: #fff;
  background: #4ad504;
}
.tags-item-issue {
  color: #fff;
  background: #ff4734;
}
.tags-item-active,
.tags-item:hover {
  opacity: 1;
}
.tags-item-icon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  position: absolute;
  top: 3px;
  right: 3px;
  width: 16px;
  height: 16px;
  color: currentColor;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.tags-item-active .tags-item-icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tags-item:last-child {
  margin-right: 0;
}
.tags-item span {
  padding: 4px 8px;
  display: block;
  cursor: default;
}
.tags-item a {
  padding: 5px 12px;
  display: block;
  padding-right: 26px;
  cursor: pointer;
  color: currentColor;
}
.preview {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 110px;
  max-height: 110px;
  height: 100vh;
  width: 100%;
  background-image: url("data:image/png;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAUAAA/+4AJkFkb2JlAGTAAAAAAQMAFQQDBgoNAAABpgAAAccAAAIDAAACMP/bAIQAAgICAgICAgICAgMCAgIDBAMCAgMEBQQEBAQEBQYFBQUFBQUGBgcHCAcHBgkJCgoJCQwMDAwMDAwMDAwMDAwMDAEDAwMFBAUJBgYJDQsJCw0PDg4ODg8PDAwMDAwPDwwMDAwMDA8MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM/8IAEQgAFAAUAwERAAIRAQMRAf/EAH8AAAMBAQAAAAAAAAAAAAAAAAIDBAEIAQEAAAAAAAAAAAAAAAAAAAAAEAACAwEAAAAAAAAAAAAAAAAAATARMRARAQAAAAAAAAAAAAAAAAAAADASAQAAAAAAAAAAAAAAAAAAADATAAEEAwEAAAAAAAAAAAAAAAEAEDAx8BGxYf/aAAwDAQACEQMRAAAB7kHhgCzCgnBP/9oACAEBAAEFAhYUjC3x6f/aAAgBAgABBQKH/9oACAEDAAEFAof/2gAIAQICBj8CH//aAAgBAwIGPwIf/9oACAEBAQY/Ah//2gAIAQEDAT8hVTeSJJaFL2a5v//aAAgBAgMBPyGH/9oACAEDAwE/IYf/2gAMAwEAAhEDEQAAEBBJBB//2gAIAQEDAT8QXV1sRKOD6CgsQDcXG//aAAgBAgMBPxCH/9oACAEDAwE/EIf/2Q==");
  transition: max-height 0.3s;
  overflow: hidden;
}
.preview.preview-active {
  max-height: 100vh;
}
.preview-button {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #232526;
  cursor: pointer;
}
.preview-button:hover .icon:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.preview-active .preview-button {
  margin-right: 0;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
}
.preview-active .preview-button .icon {
  width: 20px;
  height: 20px;
}
.preview-iframe {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s;
  border: none;
}
.preview-loaded .preview-iframe {
  opacity: 1;
}
.preview-loader {
  visibility: hidden;
  opacity: 0;
}
.preview-active .preview-loader {
  visibility: visible;
  opacity: 1;
}
.preview-loaded .preview-loader {
  visibility: hidden;
  opacity: 0;
}
.preview-icon {
  width: 88px;
  height: 88px;
  position: absolute;
  bottom: -16px;
  right: -16px;
}
.preview-icon * {
  fill: #fff !important;
}
.timeline {
  margin: -24px 0;
}
.timeline-horizontal {
  padding: 24px 0 24px 0;
  margin: 0;
}
.timeline-vertical {
  padding: 0 0 0 20px;
}
.timeline-bar {
  border-radius: 2px;
}
.timeline-vertical .timeline-bar {
  width: 4px;
  height: calc(100% + 80px);
  margin: -40px 0;
  background-image: linear-gradient(0deg, #ffc63f, #fd3358);
}
.timeline-horizontal .timeline-bar {
  height: 4px;
  width: calc(100% + 40px);
  margin: 0 -20px;
  background-image: linear-gradient(90deg, #ffc63f, #fd3358);
}
.timeline-items {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}
.timeline-item {
  z-index: 1;
}
.timeline-item-apart {
  position: absolute;
  top: 50%;
  left: -28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.timeline-horizontal .timeline-item {
  position: relative;
  margin-bottom: 12px;
}
.timeline-horizontal .timeline-item:nth-child(even) {
  margin-bottom: -36px;
}
.timeline-item-line {
  content: "";
  position: absolute;
  left: 12px;
  top: 5px;
  width: 96px;
  height: 2px;
  opacity: 0.5;
  background: #dedede;
}
.timeline-item-marker {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #f93262;
  border-radius: 50%;
  z-index: 1;
}
.timeline-item-marker:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
}
.timeline-item-apart .timeline-item-marker {
  left: -16px;
  top: 50%;
  margin-top: -6px;
}
.timeline-horizontal .timeline-item-marker {
  bottom: -20px;
  left: 50%;
  margin-left: -6px;
}
.timeline-item-content {
  font-size: 13px;
  white-space: nowrap;
  transition: all 0.3s;
  padding: 8px 12px;
  border-radius: 3px;
  background: #fafafa;
  text-align: center;
}
.timeline-item-content-date {
  margin-top: 4px;
  color: rgba(17,17,17,0.7);
}
.timeline-item-apart .timeline-item-content {
  background: #fff;
}
.control {
  display: block;
  margin: 12px 0;
  width: 100%;
  min-height: 26px;
}
.control-inner {
  min-height: 26px;
}
.control:first-child {
  margin-top: 0;
}
.control:last-child {
  margin-bottom: 0;
}
.control-label {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.control-input,
.control-textarea,
.control-value {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 24px 8px 8px;
  margin: 0;
  outline: none;
  border-radius: 3px;
  border: 1px solid rgba(153,153,153,0.4);
  line-height: 1;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.control-input:focus,
.control-textarea:focus,
.control-value:focus {
  border-color: rgba(153,153,153,0.6);
}
.control-textarea {
  height: 64px;
  resize: vertical;
}
.control-value {
  background: #fafafa;
}
.control-input,
.control-value {
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.control-dropdown {
  position: relative;
}
.control-dropdown:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: 8px;
  margin-top: -2px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  transition: border 0.3s;
}
.control-dropdown-options {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  top: 100%;
  left: 0;
  margin-top: 4px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: none;
  max-height: 0;
  transition: max-height 0.3s, box-shadow 0.3s;
  overflow-y: auto;
}
.control-dropdown-options::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
.control-dropdown-options::-webkit-scrollbar {
  width: 6px;
}
.control-dropdown-options::-webkit-scrollbar-thumb {
  background-color: #888;
}
.control-dropdown:hover .control-dropdown-options {
  max-height: 232px;
  box-shadow: 0 0 0 1px #ececec;
}
.control-dropdown-options-item {
  position: relative;
  font-size: 13px;
  cursor: pointer;
  padding: 4px 24px 4px 8px;
  transition: background-color 0.3s;
}
.control-dropdown-options-item-selected:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 8px;
  width: 8px;
  height: 4px;
  opacity: 0.8;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.control-dropdown-options-item:hover {
  background: rgba(0,0,0,0.02);
}
.control-dropdown-options-item:first-child {
  margin-top: 0;
}
.control-dropdown-options-item:last-child {
  margin-bottom: 0;
}
