a {
  color: #1c91ff;
  text-decoration: none;
}
input {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.button {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  background: #38393a;
  padding: 4px 12px;
  border-radius: 2px;
  border: 1px solid #38393a;
  outline: none;
  cursor: pointer;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.loader {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 64px;
  height: 64px;
  color: #f93262;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  -webkit-animation: loader-1 4.8s linear infinite;
          animation: loader-1 4.8s linear infinite;
}
.loader-visible {
  visibility: visible;
  opacity: 1;
}
.loader-small {
  width: 32px;
  height: 32px;
}
.loader-inner,
.loader-inner:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  content: "";
}
.loader-inner {
  clip: rect(0, 64px, 64px, 32px);
  -webkit-animation: loader-2 1.2s linear infinite;
          animation: loader-2 1.2s linear infinite;
}
.loader-small .loader-inner {
  clip: rect(0, 32px, 32px, 16px);
}
.loader-inner:after {
  clip: rect(0, 64px, 64px, 32px);
  border: 3px solid currentColor;
  -webkit-animation: loader-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: loader-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.loader-small .loader-inner:after {
  clip: rect(0, 32px, 32px, 16px);
}
@-webkit-keyframes loader-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}
@keyframes loader-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}
@-webkit-keyframes loader-3 {
  0% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
            transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
@keyframes loader-3 {
  0% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
            transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
.icon {
  position: relative;
  display: inline-block;
  color: #212121;
}
.icon:before,
.icon:after {
  content: '';
  position: absolute;
}
.icon-tag {
  color: #38393a;
  opacity: 0.8;
  margin-right: 8px;
  top: -3px;
  width: 7px;
  height: 7px;
  border-radius: 1px 1px 1px 0;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  background-color: currentColor;
}
.icon-tag:before {
  left: 1px;
  top: 1px;
  width: 9px;
  height: 10px;
  border-radius: 1px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icon-tag:after {
  left: 3px;
  top: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  color: #fff;
  background-color: currentColor;
}
.icon-arrow:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25%;
  margin-left: -25%;
  width: 50%;
  height: 50%;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.icon-arrow-up:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icon-arrow-down:before {
  margin-top: -16px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.icon-arrow-left:before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.icon-arrow-right:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.icon-eye {
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 100% 5%;
  border: solid 1px currentColor;
  transition: border-radius 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.icon-eye:before {
  left: 38%;
  top: 38%;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: currentColor;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.icon-focus {
  margin-left: 2px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  border: solid 1px currentColor;
}
.icon-focus:before {
  left: 3px;
  top: -2px;
  width: 9px;
  height: 19px;
  color: #fff;
  background-color: currentColor;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.icon-focus:after {
  left: 3px;
  top: -2px;
  width: 9px;
  height: 19px;
  color: #fff;
  background-color: currentColor;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.icon-search {
  color: #38393a;
  width: 9px;
  height: 9px;
  border: solid 1px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: opacity 0.3s;
}
.icon-search:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 4px;
  height: 6px;
  width: 1px;
  background-color: currentColor;
}
.icon-cross:before {
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icon-cross:after {
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
body,
html {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #212121;
  margin: 0;
  background: #fafafa;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: #888;
}
main {
  padding-top: 48px;
  min-height: 100vh;
  box-sizing: border-box;
}
section {
  padding: 40px 0;
}
section:nth-child(even) {
  background: #fff;
}
section:nth-child(even) .list-container {
  background: #fafafa;
}
section:nth-child(even) .list-container .item {
  background: #fff;
}
.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.container-sidebar {
  padding-right: 220px;
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 599px) {
  .row {
    flex-direction: column;
  }
}
.row > div {
  margin: 0 8px;
}
.row > div:only-of-type {
  margin: 0 0;
}
.row > div:first-child {
  margin-left: 0;
}
.row > div:last-child {
  margin-right: 0;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.05);
  z-index: 1;
}
.header-inner {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  margin-left: 20px;
}
.header-title-logo img {
  height: 24px;
}
.header-title-section {
  font-size: 18px;
  font-weight: normal;
  color: #868686;
}
.footer {
  background: #111;
  color: #b7b7b7;
  font-size: 14px;
}
.footer-inner {
  padding: 24px 20px;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer p {
  margin: 0;
  margin-bottom: 8px;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  margin-bottom: 8px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-user .user-login {
  position: relative;
}
.footer-user .user-login-label {
  display: block;
}
.footer-user .user-login-input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.footer-user .user-login-button {
  position: absolute;
  right: 0;
  top: 0;
}
.home-hero {
  padding: 100px 20px !important;
  text-align: center;
  background-image: linear-gradient(225deg, #ffc63f, #fd3358 49%, #bc35d8);
  color: #fff;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.home-hero:after,
.home-hero:before {
  content: "";
  opacity: 0.2;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  pointer-events: none;
}
.home-hero:before {
  width: 1583px;
  height: 1583px;
  background-image: radial-gradient(circle 934px at 73.95% 43.4%, #ffff4f 0, rgba(254,255,39,0) 100%);
  top: -4px;
}
.home-hero:after {
  width: 942px;
  height: 942px;
  background-image: radial-gradient(circle 545px at 36% 24%, #ffff4f 0, rgba(254,255,39,0) 100%);
  top: calc(100% - 33px);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.home-hero h1,
.home-hero p {
  position: relative;
  z-index: 1;
}
.home-hero h1 {
  font-size: 56px;
  font-weight: normal;
  margin: 0 0 12px 0;
  color: #fff;
}
.home-hero p {
  margin: 0;
  font-size: 16px;
}
.home-timeline {
  background: #fff;
  color: #111;
  padding: 100px 20px;
}
.home-timeline-title {
  max-width: 960px;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: normal;
}
.home-counters {
  background: #111;
  color: #fff;
  padding: 100px 20px;
}
.home-counters .counter-value {
  font-size: 56px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  background-image: linear-gradient(180deg, #ffc63f, #fd3358);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-counters .counter-label {
  font-size: 18px;
  font-weight: normal;
}
.home-cta {
  padding: 28px 20px;
  margin: 28px auto;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  max-width: 320px;
  background: #fafafa;
}
.home-cta-button {
  padding: 8px 16px;
}
.home-cta-title {
  margin-bottom: 16px;
  font-size: 18px;
}
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.nav-menu-item {
  display: inline-block;
  position: relative;
}
.nav-menu-item-active,
.nav-menu-item:hover {
  background: #fafafa;
}
.nav-menu-item-link {
  font-size: 14px;
  text-decoration: none;
  height: 48px;
  box-sizing: border-box;
  display: block;
  padding: 0 16px;
  color: #212121;
  display: flex;
  align-items: center;
}
.nav-menu-item-button ~ a {
  padding-right: 48px !important;
}
.nav-menu-item-button {
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 4px;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  background: #f93262;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  z-index: 1;
  transition: all 0.3s;
}
.nav-menu-item-button .icon {
  width: 12px;
  height: 12px;
  color: #fff;
  top: -5px;
  left: -4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-menu-item-button:hover {
  background: #fa4772;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-template-rows: repeat(auto-fit, -webkit-max-content);
  grid-template-rows: repeat(auto-fit, max-content);
  grid-gap: 12px;
}
.list-half {
  grid-template-columns: repeat(auto-fill, calc(50% - 6px));
}
@media only screen and (max-width: 979px) {
  .list-half {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
.list-third {
  grid-template-columns: repeat(auto-fill, calc(33% - 6px));
}
@media only screen and (max-width: 979px) {
  .list-third {
    grid-template-columns: repeat(auto-fill, calc(50% - 6px));
  }
}
@media only screen and (max-width: 599px) {
  .list-third {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
.list-container {
  position: relative;
  min-height: 100px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  flex-grow: 1;
}
.list-header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-header-title {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.list .item {
  background: #fafafa;
  padding-right: 80px;
}
.list .item:hover {
  background: #f7f7f7;
}
.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  box-sizing: border-box;
  padding: 20px 0;
  margin: 40px 0;
  background: #fff;
  border-radius: 4px;
}
.sidebar-fixed {
  position: fixed;
  right: 20px;
  top: 48px;
  width: auto;
  flex: 0 0 auto;
  z-index: 1000;
  opacity: 0.8;
  transition: width 0.3s;
}
.sidebar-fixed:hover {
  opacity: 1;
}
.sidebar-group {
  padding: 0 20px;
  margin: 20px 0;
}
.sidebar-group:first-child {
  margin-top: 0;
}
.sidebar-group:last-child {
  margin-bottom: 0;
}
.sidebar-group-header {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.sidebar-footer {
  padding: 0 20px;
}
.search {
  position: relative;
  transition: width 0.3s;
}
.sidebar-fixed .search {
  width: 20px;
}
.sidebar-fixed:hover .search {
  width: 200px;
}
.search-icon {
  transition: all 0.3s;
  opacity: 0.6;
  position: absolute;
  right: 4px;
  top: 1px;
}
.search:hover .search-icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.search-input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #38393a;
  padding: 4px 0;
  font-size: 13px;
  background: transparent;
  width: 100%;
  transition: all 0.3s;
}
.sidebar-fixed .search-input {
  transition: all 0s;
  opacity: 0;
}
.sidebar-fixed:hover .search-input {
  transition: all 0.3s 0.3s;
  opacity: 1;
}
.search-input::-webkit-input-placeholder {
  opacity: 0.8;
  font-size: 13px;
  transition: opacity 0.3s;
}
.search-input:-ms-input-placeholder {
  opacity: 0.8;
  font-size: 13px;
  transition: opacity 0.3s;
}
.search-input::-ms-input-placeholder {
  opacity: 0.8;
  font-size: 13px;
  transition: opacity 0.3s;
}
.search-input::placeholder {
  opacity: 0.8;
  font-size: 13px;
  transition: opacity 0.3s;
}
.search-input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.search-input:focus:-ms-input-placeholder {
  opacity: 0;
}
.search-input:focus::-ms-input-placeholder {
  opacity: 0;
}
.search-input:focus::placeholder {
  opacity: 0;
}
.search-input:focus ~.search-icon {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  transition: background 0.3s;
}
.item-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  transition: background 0.3s;
}
.item-open {
  cursor: pointer;
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;
  position: absolute;
  z-index: 1;
  color: #38393a;
}
.item-open:hover .icon {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.item-open .icon {
  width: 32px;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  right: 20px;
  position: absolute;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.item-close {
  cursor: pointer;
  right: 20px;
  top: 20px;
  position: absolute;
  z-index: 1;
  color: #e91e63;
}
.item-close:hover .icon {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.item-close .icon {
  width: 32px;
  height: 32px;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.item-header h1 {
  margin: 0;
  font-size: 22px;
  font-weight: normal;
}
.item-header h4 {
  margin: 0;
  font-size: 18px;
  padding-right: 20px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-body {
  margin-top: 12px;
  height: 100%;
  position: relative;
}
.item.detail .item-body {
  margin-top: 32px;
}
.item-body p {
  margin: 0;
  font-size: 14px;
  color: #868686;
}
.list .item-body p {
  max-height: 56px;
  overflow: hidden;
}
.item-body ul {
  margin: 8px 0;
  padding: 0 16px;
  font-size: 14px;
  color: #868686;
}
.item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.item.detail .item-footer {
  margin-top: 32px;
}
.item-footer-date {
  font-size: 13px;
  color: #868686;
}
.item-icon {
  width: 48px;
  height: 48px;
}
.item-icon svg {
  width: 48px;
  height: 48px;
}
.item-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.list .item-icon-container {
  margin-right: 12px;
}
.subscribe {
  margin-top: 28px;
  padding: 20px;
  background: #fff;
}
.subscribe-form-header {
  margin-bottom: 24px;
}
.subscribe-form-header-title {
  font-size: 18px;
  margin-bottom: 8px;
}
.subscribe-form-header-caption {
  color: #868686;
  font-size: 14px;
}
.subscribe-form-body input {
  margin-right: 12px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #38393a;
  padding: 4px 0;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.pagination-pages {
  display: inline-block;
  font-size: 15px;
  margin: 0 8px;
}
.pagination-button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.pagination-button .icon {
  width: 24px;
  height: 24px;
}
.pagination-button-prev:hover {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
.pagination-button-next:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.tags {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tags-item {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  border-radius: 2px;
  font-size: 11px;
  background: #38393a;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.tags-item-feature {
  background: #1c91ff;
}
.tags-item-change {
  background: #4ad504;
}
.tags-item-issue {
  background: #ff4734;
}
.tags-item-active,
.tags-item:hover {
  opacity: 1;
}
.tags-item-icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 5px;
  right: 8px;
  width: 8px;
  height: 8px;
  color: currentColor;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.tags-item-active .tags-item-icon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.tags-item:last-child {
  margin-right: 0;
}
.tags-item span {
  padding: 4px 8px;
  display: block;
  cursor: default;
}
.tags-item a {
  padding: 4px 8px;
  display: block;
  padding-right: 24px;
  cursor: pointer;
  color: currentColor;
}
.preview {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 110px;
  max-height: 110px;
  height: 100vh;
  width: 100%;
  background-image: url("data:image/png;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAUAAA/+4AJkFkb2JlAGTAAAAAAQMAFQQDBgoNAAABpgAAAccAAAIDAAACMP/bAIQAAgICAgICAgICAgMCAgIDBAMCAgMEBQQEBAQEBQYFBQUFBQUGBgcHCAcHBgkJCgoJCQwMDAwMDAwMDAwMDAwMDAEDAwMFBAUJBgYJDQsJCw0PDg4ODg8PDAwMDAwPDwwMDAwMDA8MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM/8IAEQgAFAAUAwERAAIRAQMRAf/EAH8AAAMBAQAAAAAAAAAAAAAAAAIDBAEIAQEAAAAAAAAAAAAAAAAAAAAAEAACAwEAAAAAAAAAAAAAAAAAATARMRARAQAAAAAAAAAAAAAAAAAAADASAQAAAAAAAAAAAAAAAAAAADATAAEEAwEAAAAAAAAAAAAAAAEAEDAx8BGxYf/aAAwDAQACEQMRAAAB7kHhgCzCgnBP/9oACAEBAAEFAhYUjC3x6f/aAAgBAgABBQKH/9oACAEDAAEFAof/2gAIAQICBj8CH//aAAgBAwIGPwIf/9oACAEBAQY/Ah//2gAIAQEDAT8hVTeSJJaFL2a5v//aAAgBAgMBPyGH/9oACAEDAwE/IYf/2gAMAwEAAhEDEQAAEBBJBB//2gAIAQEDAT8QXV1sRKOD6CgsQDcXG//aAAgBAgMBPxCH/9oACAEDAwE/EIf/2Q==");
  transition: max-height 0.3s;
  overflow: hidden;
}
.preview.preview-active {
  max-height: 100vh;
}
.preview-button {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #232526;
  cursor: pointer;
}
.preview-button:hover .icon:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.preview-active .preview-button {
  margin-right: 0;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
}
.preview-active .preview-button .icon {
  width: 20px;
  height: 20px;
}
.preview-iframe {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s;
  border: none;
}
.preview-loaded .preview-iframe {
  opacity: 1;
}
.preview-loader {
  visibility: hidden;
  opacity: 0;
}
.preview-active .preview-loader {
  visibility: visible;
  opacity: 1;
}
.preview-loaded .preview-loader {
  visibility: hidden;
  opacity: 0;
}
.preview-icon {
  width: 88px;
  height: 88px;
  position: absolute;
  bottom: -16px;
  right: -16px;
}
.preview-icon * {
  fill: #fff !important;
}
.timeline {
  padding: 0 80px 0 20px;
  margin: -24px 0;
}
.timeline-horizontal {
  padding: 48px 0 24px 0;
  margin: 0 -20px;
}
.timeline-bar {
  width: 2px;
  height: 100%;
  background-image: linear-gradient(180deg, #ffc63f, #fd3358);
}
.timeline-horizontal .timeline-bar {
  height: 2px;
  width: 100%;
  background-image: linear-gradient(90deg, #ffc63f, #fd3358);
}
.timeline-item {
  position: absolute;
  top: 50%;
  left: -107px;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  background: #f93262;
  border-radius: 50%;
  z-index: 1;
}
.timeline-item:after {
  content: "";
  position: absolute;
  left: 12px;
  top: 5px;
  width: 96px;
  height: 2px;
  opacity: 0.5;
  background: #dedede;
}
.timeline-item-date {
  position: absolute;
  left: 12px;
  bottom: -16px;
  font-size: 11px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  padding: 2px 4px;
  border-radius: 2px;
}
.timeline-item:hover .timeline-item-date,
.item:hover .timeline-item-date {
  opacity: 1;
  visibility: visible;
}
