.list
    .item
        background #fafafa

        &:hover
            background #f7f7f7

.item
    position relative
    display flex
    flex-direction row
    align-items center
    padding 20px
    box-sizing border-box
    border-radius 4px
    background color_white
    transition background .3s
    padding-right 80px

    &.detail
    &.edit
        min-height 160px

    &-inner
        display flex
        flex-direction column
        width 100%

    &:after
        content ""
        position absolute
        bottom 0
        left 0
        height 3px
        width 100%
        transition background .3s

    &-open
        cursor pointer
        right 0
        top 0
        width 80px
        height 100%
        position absolute
        z-index 1
        color color_gray_70

        &:hover .icon
            transform translateX(2px)

        & .icon
            width 32px
            height 32px
            top 50%
            margin-top -16px
            right 20px
            position absolute
            transition transform .3s

    &-close
        cursor pointer
        right 20px
        top 20px
        position absolute
        z-index 1
        color color_red

        &:hover .icon
            transform translateY(-2px)

        & .icon
            width 32px
            height 32px
            transition transform .3s

    &-header
        h1
            margin 0
            font-size 22px
            font-weight normal

        h4
            margin 0
            font-size 18px
            padding-right 20px
            font-weight normal
            white-space nowrap
            text-overflow ellipsis
            overflow hidden

    &-body
        margin-top 12px
        height 100%
        position relative

        .item.detail & 
            margin-top 32px
        
        p
            margin 0
            font-size 14px
            color color_gray_50

            .list &
                max-height 56px
                overflow hidden

        ul
            margin 8px 0
            padding 0 16px
            font-size 14px
            color color_gray_50

    &-footer
        display flex
        align-items center
        justify-content space-between
        margin-top 12px

        .item.detail & 
            margin-top 32px

        &-date
            font-size 13px
            color color_gray_50

    &-icon
        width 48px
        height 48px

        & svg
            width 48px
            height 48px

        &-container
            display flex
            align-items center
            justify-content center
            margin-right 20px

            .list &
                margin-right 12px

.subscribe
    margin-top 28px
    padding 20px
    background color_white

    &-form
        &-header
            margin-bottom 24px

            &-title
                font-size 18px
                margin-bottom 8px

            &-caption
                color color_gray_50
                font-size 14px

        &-body
            & input
                margin-right 12px
                background transparent
                border none
                outline none
                border-bottom 1px solid #38393a
                padding 4px 0