.list
    .item
        background #fafafa

.item
    position relative
    display flex
    flex-direction row
    align-items center
    padding 20px
    box-sizing border-box
    border-radius 4px
    background color_white
    transition background .3s
    padding-right 80px

    &.detail
    &.edit
        min-height 160px

    &-inner
        display flex
        flex-direction column
        width 100%
        margin-right 20px

    &:after
        content ""
        position absolute
        bottom 0
        left 0
        height 3px
        width 100%
        transition background .3s

    &-actions
        position absolute
        right 0
        top 0
        display flex
        flex-direction column
        justify-content space-between
        width 80px
        height 100%

    &-action    
        cursor pointer
        width 100%
        padding 20px
        box-sizing border-box
        flex-grow 1
        display flex
        align-items center
        justify-content center
        transition background .3s

        &:hover
            background rgba(0,0,0,.01)

        & .icon
            width 32px
            height 32px
            transition transform .3s

        &-open
            color color_gray_70

            &:hover .icon
                transform translateX(2px)

        &-close
            color color_red

            &:hover .icon
                transform translateY(-2px)

    &-header
        h1
            margin 0
            font-size 22px
            font-weight normal

        h4
            margin 0
            font-size 18px
            padding-right 20px
            font-weight normal
            white-space nowrap
            text-overflow ellipsis
            overflow hidden

    &-body
        margin-top 12px
        height 100%
        position relative

        .item.detail & 
            margin-top 32px
        
        p
            margin 0
            font-size 14px
            color color_gray_50

            .list &
                max-height 56px
                overflow hidden

        ul
            margin 8px 0
            padding 0 16px
            font-size 14px
            color color_gray_50

    &-footer
        display flex
        align-items center
        justify-content space-between
        margin-top 12px

        .item.detail & 
            margin-top 32px

        &-date
            font-size 13px
            color color_gray_50

    &-icon
        width 48px
        height 48px

        & svg
            width 48px
            height 48px

        &-container
            display flex
            align-items center
            justify-content center
            margin-right 20px

            .list &
                margin-right 12px

.subscribers
    margin-top 28px
    border-radius 4px
    background color_white

    &-list
        margin 0
        padding 0
        list-style none

        &-header
            font-weight normal
            margin 0 0 16px
            font-size 18px

        &-container
            padding 24px 20px 12px

        &-item
            margin 2px 0
            font-size 14px

    &-form
        &-container
            background rgba(0,0,0,0.01)
            padding 12px 20px 24px
        
        &-header
            margin 0 0 16px
            font-size 14px

        &-body
            display flex
            min-width 200px
            text-align right

            & label
                display block
                margin-right 20px

            & input
                text-align left
                width 100%
                background transparent
                border none
                outline none
                border-bottom 1px solid #38393a
                padding 4px 0