.list
    .item
        background #fafafa
        box-shadow 0 1px 3px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.06)
        padding-right 80px

        &-actions 
            width 60px

        pre
            max-height 100px

        &:hover
            & .clipboard
                opacity .4

        .clipboard
            opacity 0

.item
    position relative
    display flex
    flex-direction row
    box-sizing border-box
    border-radius 4px
    background color_white
    transition background .3s
    padding 20px
    padding-right 100px

    &.detail
    &.edit
        min-height 160px
        box-shadow 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12)

    &-inner
        display flex
        flex-direction column
        width 100%

    &:after
        content ""
        position absolute
        bottom 0
        left 0
        height 3px
        width 100%
        transition background .3s

    &-actions
        position absolute
        right 0
        top 0
        display flex
        flex-direction column
        justify-content space-between
        width 80px
        height 100%
        background rgba(0,0,0,.01)

    &-action    
        cursor pointer
        width 100%
        box-sizing border-box
        flex-grow 1
        display flex
        align-items center
        justify-content center
        transition background .3s

        &:hover
            background rgba(0,0,0,.01)

            & .icon
                transform translateX(2px)

        & .icon
            width 32px
            height 32px
            transition transform .3s

        &-open
            color color_gray_70

        &-close
            color color_red

        &-save
            color color_red

    &-header
        h1
            margin 0
            font-size 22px
            font-weight normal

        h4
            margin 0
            font-size 18px
            padding-right 20px
            font-weight normal
            white-space nowrap
            text-overflow ellipsis
            overflow hidden

    &-body
        margin-top 24px
        height 100%
        position relative

        .item.detail & 
            margin-top 32px
        
        p
            margin 0
            font-size 14px
            color color_gray_50

            .list &
                max-height 56px
                overflow hidden

        ul
            margin 8px 0
            padding 0 16px
            font-size 14px
            color color_gray_50

        &-list
            margin 8px 0
            padding 0
            list-style none
            display flex
            flex-wrap wrap

            ul&
                margin 8px 0
                padding 0

            &-item
                display block
                font-size 13px
                padding 12px 32px 12px 12px
                position relative
                margin 2px 0
                margin-right 8px
                width calc(33% - 8px)
                box-sizing border-box
                background #fafafa
                border-radius 2px

                &:nth-child(4n)
                    margin-right 0
                    
                &-more
                    cursor pointer
                    position absolute
                    color #212121
                    right 0
                    top 0
                    width 32px
                    height 100%
                    display flex
                    align-items center
                    justify-content center
                    background rgba(0,0,0,.01)

                    & .icon
                        width 16px
                        height 16px

        pre
            font 12px/normal monospace
            border-radius 3px
            padding 12px
            background #38393a
            color #fff
            width 100%
            border none
            outline none
            margin 0
            box-sizing border-box
            overflow-y auto

            &::-webkit-scrollbar-track
                background-color #f0f0f0

            &::-webkit-scrollbar
                width 6px
                height 6px

            &::-webkit-scrollbar-thumb
                background-color #888

            .item-body:hover &
                box-shadow 0 0 1px 1px rgba(0,0,0,.15)

    &-footer
        display flex
        align-items center
        margin-top 12px
        margin-bottom -2px

        .item.detail & 
            margin-top 32px

        &-right
            margin-left auto
            margin-right -4px
            display flex

        &-date
        &-subscribers
            display flex
            align-items center
            font-size 13px
            color color_gray_50
            margin 0 4px
            
            & .icon
                width 16px
                height 16px
                margin-right 4px

    &-icon
        width 48px
        height 48px

        & svg
            width 48px
            height 48px

        &-container
            display flex
            align-items center
            justify-content center
            margin-right 20px

            .list &
                margin-right 12px

.subscribers
    margin-top 28px
    border-radius 4px
    background color_white
    position relative
    min-height 90px
    box-shadow 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12)

    &-list
        margin 0
        padding 0
        list-style none
        display flex
        flex-wrap wrap

        &-container
            padding 24px 20px 24px

        &-header
            font-weight normal
            margin 0 0 16px
            font-size 18px

        &-item
            display block
            margin 2px 0
            font-size 13px
            padding 12px 32px 12px 12px
            position relative
            margin-right 8px
            width calc(25% - 8px)
            box-sizing border-box
            background #fafafa
            border-radius 2px

            &:nth-child(4n)
                margin-right 0

            &-email
                display block
                margin-top 4px

            &-remove
                cursor pointer
                position absolute
                right 0
                top 0
                width 32px
                height 100%
                display flex
                align-items center
                justify-content center
                background rgba(0,0,0,.01)

                & .icon
                    width 16px
                    height 16px

    &-form
        &-container
            background rgba(0,0,0,0.01)
            padding 24px 20px 24px
        
        &-header
            margin 0 0 16px
            font-size 14px

        &-body
            display flex
            text-align right

            & label
                display block
                margin-right 20px

            & input
                text-align left
                width 100%
                background transparent
                border none
                outline none
                border-bottom 1px solid #38393a
                padding 4px 0

.notes
    background #fafafa
    box-shadow 0 1px 3px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.06)
    padding 20px

    &-header
        font-size 18px
        font-weight normal
        margin 0 0 24px

    &-item
        p
            font-size 16px

        pre
            font 12px/normal monospace
            border-radius 3px
            padding 12px
            background #38393a
            color #fff
            width 100%
            border none
            outline none
            margin 0
            box-sizing border-box
            overflow-y auto