.list
    display grid
    grid-template-columns repeat(auto-fill, 100%)
    grid-template-rows repeat(auto-fit, max-content)
    grid-gap 12px

    &-half
        grid-template-columns repeat(auto-fill, calc(50% - 6px))

        +media-below(980px)
            grid-template-columns repeat(auto-fill, 100%)

    &-third
        grid-template-columns repeat(auto-fill, calc(33% - 6px))
        
        +media-below(980px)
            grid-template-columns repeat(auto-fill, calc(50% - 6px))
            
        +media-below(600px)
            grid-template-columns repeat(auto-fill, 100%)

    &-container
        position relative
        min-height 100px
        padding 20px
        background #fff
        border-radius 4px
        box-sizing border-box
        flex-grow 1

    &-header
        margin-bottom 24px
        display flex
        align-items center
        justify-content space-between

        &-title
            margin 0
            font-size 20px
            font-weight normal

    .item
        background #fafafa
        padding-right 80px

        &:hover
            background #f7f7f7