.list
    display grid
    grid-template-columns repeat(auto-fill, 100%)
    grid-template-rows repeat(auto-fit, max-content)
    grid-gap 12px

    &-half
        grid-template-columns repeat(auto-fill, calc(50% - 6px))

        +media-below(980px)
            grid-template-columns repeat(auto-fill, 100%)

    &-third
        grid-template-columns repeat(auto-fill, calc(33% - 6px))
        
        +media-below(980px)
            grid-template-columns repeat(auto-fill, calc(50% - 6px))
            
        +media-below(600px)
            grid-template-columns repeat(auto-fill, 100%)

    &-container
        position relative
        min-height 100px

    .item
        background #fafafa
        padding-right 80px

        &:hover
            background #f7f7f7