.pagination
    display flex
    justify-content center
    align-items center
    position absolute
    left 50%
    bottom -35px
    transform translateX(-50%)
    min-height 28px

    &-pages
        display inline-block
        font-size 15px
        margin 0 8px

    &-button
        cursor pointer
        border none
        outline none
        padding 0
        margin 0
        background transparent
        transition transform .3s

        .icon
            width 24px
            height 24px

        &-prev
            &:hover
                transform translateX(-2px)

        &-next
            &:hover
                transform translateX(2px)
