.sidebar
    position absolute
    right 0
    top 0
    width 200px
    display flex
    flex-direction column
    justify-content space-between
    flex 0 0 200px
    box-sizing border-box
    padding 20px 0
    margin 40px 0
    background #fff
    border-radius 4px

    &-fixed
        position fixed
        right 20px
        top 48px
        width auto
        flex 0 0 auto
        z-index 1000
        opacity .8
        transition width .3s

        &:hover
            opacity 1

    &-group
        padding 0 20px
        margin 20px 0

        &:first-child
            margin-top 0

        &:last-child
            margin-bottom 0

        &-header
            font-size 13px
            text-transform uppercase
            margin-bottom 8px

    &-footer
        padding 0 20px

.search
    position relative
    transition width .3s
    color color_gray_70

    .sidebar-fixed &
        width 20px

    .sidebar-fixed:hover &
        width 200px

    &-icon
        transition all .3s
        opacity .6
        position absolute
        right 4px
        top 1px

        .search:hover &
            transform scale(1.2)

    &-input
        outline 0
        border 0
        border-bottom 1px solid color_gray_70
        padding 4px 0
        font-size 13px
        background transparent
        width 100%
        transition all .3s
        
        .sidebar-fixed &
            transition all 0s
            opacity 0

        .sidebar-fixed:hover &
            transition all .3s .3s
            opacity 1

        &::placeholder
            opacity .8
            font-size 13px
            transition opacity .3s

        &:focus
            &::placeholder
                opacity 0
                
            ~.search-icon
                opacity 1
                transform scale(1.2)
