.tags
    list-style none
    margin 0
    padding 0

    &-item
        display inline-block
        position relative
        margin-right 4px
        border-radius 2px
        font-size 11px
        background #38393a
        color #fff
        opacity .8
        transition opacity .3s

        &-feature
            background #0079bf

        &-change
            background #61bd4f
            
        &-issue
            background #eb5a46

        &-active
        &:hover
            opacity 1

        &-icon
            transform rotate(-45deg)
            position absolute
            top 5px
            right 8px
            width 8px
            height 8px
            color currentColor
            transition transform .3s

            .tags-item-active &
                transform rotate(0)

        &:last-child
            margin-right 0

        span
            padding 4px 8px
            display block
            cursor default

        a
            padding 4px 8px
            display block
            padding-right 24px
            cursor pointer
            color currentColor
