.tags
    list-style none
    margin 0
    padding 0
    margin-left -4px

    &-inner
        display flex
        align-items center

    &-icon
        margin-right 4px
        width 16px
        height 16px
        color color_gray_50

    &-item
        display inline-block
        position relative
        margin 2px 4px
        border-radius 24px
        font-size 11px
        background rgba(35, 47, 52, .12)
        color #232F34
        opacity .8
        transition opacity .3s

        &-feature
            color color_white
            background color_blue

        &-change
            color color_white
            background color_green
            
        &-issue
            color color_white
            background color_red

        &-active
        &:hover
            opacity 1

        &-icon
            transform rotate(0)
            position absolute
            top 3px
            right 3px
            width 16px
            height 16px
            color currentColor
            transition transform .3s

            .tags-item-active &
                transform rotate(45deg)

        &:last-child
            margin-right 0

        span
            padding 4px 8px
            display block
            cursor default

        a
            padding 5px 12px
            display block
            padding-right 26px
            cursor pointer
            color currentColor
