.timeline
    padding 0 100px 0 0
    margin -24px 0

    &-horizontal
        padding 48px 0 24px 0
        margin 0 -24px
        width calc(100% + 24px)
    
    &-bar
        width 2px
        height 100%
        background #dedede

        .timeline-horizontal &
            height 2px
            width 100% 

    &-item
        position absolute
        top 50%
        left -127px
        margin-top -6px
        width 12px
        height 12px
        background #f93262
        border-radius 50%
        z-index 1

        &:after
            content ""
            position absolute
            left 12px
            top 5px
            width 116px
            height 2px
            opacity .5
            background #dedede

        &-date
            position absolute
            left 12px
            bottom -16px
            font-size 11px
            white-space nowrap
            opacity 0
            visibility hidden
            transition all .3s
            padding 2px 4px
            border-radius 2px
        
            .timeline-item:hover &
            .item:hover &
                opacity 1
                visibility visible
