.timeline
    margin -24px 0

    &-horizontal
        padding 32px 0 100px 0
        margin 0
    
    &-vertical
        padding 0 0 0 20px

    &-bar
        border-radius 2px

        .timeline-vertical &
            width 4px
            height calc(100% + 80px)
            margin -40px 0
            background-image linear-gradient(0deg,#ffc63f,#fd3358)

        .timeline-horizontal &
            height 4px
            width calc(100% + 40px)
            margin 0 -20px
            background-image linear-gradient(90deg,#ffc63f,#fd3358)

    &-items
        display flex
        justify-content flex-end
        margin 0
        padding 0
        list-style none

    &-item
        z-index 1

        &-apart
            position absolute
            top 50%
            left -28px
            transform translateY(-50%)

        .timeline-horizontal &
            position relative
            margin 0 -20px 12px

            &:first-child
                margin-left 0

            &:last-child
                margin-right 0

            &:nth-child(even)
                top 80px

                .timeline-item-marker
                    top -22px
                    bottom initial

        &-line
            content ""
            position absolute
            left 12px
            top 5px
            width 96px
            height 2px
            opacity .5
            background #dedede

        &-marker
            position absolute
            width 12px
            height 12px
            background #f93262
            border-radius 50%
            z-index 1

            &:after
                content ""
                position absolute
                left 4px
                top 4px
                width 4px
                height 4px
                border-radius 50%
                background #fff

            .timeline-item-apart &
                left -16px
                top 50%
                margin-top -6px

            .timeline-horizontal &
                bottom -20px
                left 50%
                margin-left -6px

        &-content
            font-size 13px
            white-space nowrap
            transition all .3s
            padding 8px 12px
            border-radius 3px
            background #fafafa
            text-align center

            &-date
                margin-top 4px
                color color_black_a70

            .timeline-item-apart &
                background #fff