<section class="home-hero">
    <h1>Elfsight Dashboard</h1>
    <p>DB of features, releases & customizations for Elfsight applications</p>
</section>

<section>
    <div class="container">
        <div class="row">
            <list items="features" title="Top features" limit="5" show="tags, !body" type="feature"></list>
            <list items="releases" title="Latest releases" limit="5" show="date, !body" type="release"></list>
        </div>
    </div>
</section>

<section class="home-counters">
    <div class="container">
        <div class="row">
            <div class="counter">
                <span data-value="{{ products.length }}" class="counter-value">0</span>
                <span class="counter-label">apps</span>
            </div>
            <div class="counter">
                <span data-value="{{ releases.length }}" class="counter-value">0</span>
                <span class="counter-label">releases</span>
            </div>
            <div class="counter">
                <span data-value="{{ features.length }}" class="counter-value">0</span>
                <span class="counter-label">features</span>
            </div>
            <div class="counter">
                <span data-value="{{ customs.length }}" class="counter-value">0</span>
                <span class="counter-label">customizations</span>
            </div>
        </div>
    </div>
</section>

<section class="home-timeline">
    <h3 class="home-timeline-title">Releases timeline</h3>
    <div class="timeline timeline-horizontal">
        <div class="timeline-bar"></div>
    </div>
</section>

<section>
    <div class="container">
        <list items="customs" title="Customizations" type="custom" show="!body" size="half"></list>
    </div>
</section>

<section>
    <div class="container">
        <list items="products" title="Applications" per-page="20" type="app" show="icon, !body" size="third"></list>
    </div>
</section>