<section class="home-hero">
    <h1>Elfsight Dashboard</h1>
    <p>DB of features, releases & customizations for Elfsight applications</p>
</section>

<section>
    <div class="container">
        <div class="row">
            <list items="$root.features" title="Top features" limit="5" show="tags, !body" type="feature"></list>
            <list items="$root.releases" title="Latest releases" limit="5" show="date, !body" type="release"></list>
        </div>
    </div>
</section>

<section class="home-counters">
    <div class="container">
        <div class="row">
            <div class="counter">
                <span data-value="{{ products.length }}" class="counter-value">0</span>
                <span class="counter-label">apps</span>
            </div>
            <div class="counter">
                <span data-value="{{ releases.length }}" class="counter-value">0</span>
                <span class="counter-label">releases</span>
            </div>
            <div class="counter">
                <span data-value="{{ features.length }}" class="counter-value">0</span>
                <span class="counter-label">features</span>
            </div>
            <div class="counter">
                <span data-value="{{ customs.length }}" class="counter-value">0</span>
                <span class="counter-label">customizations</span>
            </div>
        </div>
    </div>
</section>

<section class="home-timeline">
    <h3 class="home-timeline-title">Releases timeline</h3>
    <div class="timeline timeline-horizontal">
        <ul class="timeline-items">
            <li class="timeline-item" ng-repeat="item in $root.releases | orderBy:created_at">
                <div class="timeline-item-content">
                    <div class="timeline-item-content-title">{{ item.product.name }} {{ item.version }}</div>
                    <div class="timeline-item-content-date">{{ item.created_at }}</div>
                </div>
                <div class="timeline-item-marker"></div>
            </li>
        </ul>
        <div class="timeline-bar"></div>
    </div>
</section>

<section>
    <div class="container">
        <list items="$root.customs" title="Customizations" type="custom" show="!body" size="half"></list>
    </div>
</section>

<section>
    <div class="container">
        <list items="$root.products" title="Applications" per-page="30" type="app" show="icon, !body" size="third"></list>
        <!-- <div class="home-cta">
            <div class="home-cta-title">Not found a needed app?</div>
            <a class="home-cta-button button">Request app</a>
        </div> -->
    </div>
</section>