<article class="container container-sidebar">
    <div class="timeline">
        <div class="timeline-bar"></div>
    </div>

    <section>
        <list items="releases" type="release" show="timeline" search="search"></list>
    </section>
    
    <aside class="sidebar">
        <div class="sidebar-header"></div>
        <div class="sidebar-body">
            <div class="sidebar-group">
                <div class="sidebar-group-header">Search</div>
                <div class="sidebar-group-body">
                    <div class="search">
                        <input class="search-input" ng-model="search" type="text" placeholder="whatever">
                        <label class="search-icon"><i class="icon icon-search"></i></label>
                    </div>
                </div>
            </div>
    
            <div class="sidebar-group">
                <div class="sidebar-group-header">Apps</div>
                <div class="sidebar-group-body">
                    <tags icon="false" active="true" search="search" items="products"></tags>
                </div>
            </div>
        </div>
        <div class="sidebar-footer"></div>
    </aside>    
</article>