<article class="container container-sidebar">
    <section>
        <list items="customs" type="custom" search="search" size="half"></list>
    </section>

    <aside class="sidebar">
        <div class="sidebar-header"></div>
        <div class="sidebar-body">
            <div class="sidebar-group sidebar-group-active sidebar-group-search">
                <div class="sidebar-group-header">Search</div>
                <div class="sidebar-group-body">
                    <div class="search">
                        <input class="search-input" ng-model="search" type="text" placeholder="whatever">
                        <label class="search-icon"><i class="icon icon-search"></i></label>
                    </div>
                </div>
            </div>
    
            <div class="sidebar-group">
                <div class="sidebar-group-header">Apps</div>
                <div class="sidebar-group-body">
                    <tags icon="false" active="true" search="search" items="products"></tags>
                </div>
            </div>
    
            <div class="sidebar-group">
                <div class="sidebar-group-header">Types</div>
                <div class="sidebar-group-body">
                    <tags icon="false" active="true" search="search" items="types"></tags>
                </div>
            </div>
        </div>
    </aside>        
</article>