<section class="container container-sidebar">
    <div class="detail item">
        <div class="item-inner">
            <div class="item-header">
                <h1>{{ item.title }}</h1>
            </div>

            <div class="item-body">
                <p>{{ item.data }}</p>
            </div>

            <div class="item-footer">
                <tags class="item-footer-tags" icon="true" items="item.tags"></tags>
                <span class="item-footer-date">Last update: <b>{{ item.updated_at }}</b></span>
            </div>
        </div>
        
        <div class="item-actions">
            <a class="item-action item-action-close" href="/#/customs/" title="Back to list"><i class="icon icon-arrow icon-arrow-up"></i></a>
        </div>

        <loader size="small" active="itemIsLoading"></loader>
    </div>
    
    <sidebar>
        <sidebar-group header="Controls">
            <a class="button button-edit" href="/#/customs/{{ item.id }}/edit">Edit</a>
        </sidebar-group>
    </sidebar>
</section>

