<section class="container container-sidebar">
    <div class="detail item">
        <div class="item-inner">
            <div class="item-header">
                <h1>{{ item.product.name }} {{ item.version }}</h1>
            </div>

            <div class="item-body">
                <p>Features in this release:</p>
                <ul class="release-features">
                    <li class="release-features-item" ng-repeat="feature in item.features">
                        <span class="release-features-item-title">{{ feature.title }}</span>
                        <a class="release-features-item-link" href="/#/features/{{ feature.id }}">more ></a>
                    </li>
                </ul>
            </div>

            <div class="item-footer">
                <span class="item-footer-date">Released at: <b>{{ item.updated_at }}</b></span>
            </div>
        </div>
        
        <div class="item-actions">
            <a class="item-action item-action-close" href="/#/releases/" title="Back to list"><i class="icon icon-arrow icon-arrow-up"></i></a>
        </div>

        <loader size="small" active="itemIsLoading"></loader>
    </div>
    
    <sidebar>
        <sidebar-group header="Controls">
            <a class="button button-edit" href="/#/releases/{{ id }}/edit">Edit</a>
        </sidebar-group>
    </sidebar>
</section>

<preview app="item.product" show="false" title="Try a new {{ item.product.name }} features"></preview>
