<section class="container">
    <div class="edit item">
        <div class="item-inner" ng-show="!itemIsLoading">
            <div class="item-header">
                <div class="item-header-info">
                    <div control="input" ng-model="item.title" name="Title"></div>
                </div>
            </div>

            <div class="item-body">
                <div control="textarea" ng-model="item.data" name="Data"></div>
                <div class="row">
                    <div control="select" values="types" ng-model="item.type" name="Type"></div>
                    <div control="select" values="apps" ng-model="item.product" name="Product"></div>
                </div>
            </div>

            <div class="item-footer">
                <div class="item-footer-right">
                    <span ng-if="item.updated_at" class="item-footer-date">
                        <svg class="icon"><use xlink:href="./img/icons/icons.svg#date"></use></svg>
                        <b>{{ item.updated_at }}</b>
                    </span>
                    <span ng-if="item.subscribers.length" class="item-footer-subscribers">
                        <svg class="icon"><use xlink:href="./img/icons/icons.svg#people"></use></svg>
                        <b>{{ item.subscribers.length }}</b>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="item-actions">
            <a class="item-action item-action-close" href="/#/releases/{{item.id}}" title="Close">
                <svg class="icon"><use xlink:href="./img/icons/icons.svg#close"></use></svg>
            </a>
            <a class="item-action item-action-save" title="Save" ng-click="save()">
                <svg class="icon"><use xlink:href="./img/icons/icons.svg#save"></use></svg>
            </a>    
        </div>

        <loader size="small" active="itemIsLoading"></loader>
    </div>
</section>

