<section class="container container-sidebar">
    <div class="row">
        <div class="timeline">
            <div class="timeline-bar"></div>
        </div>

        <list items="releases" type="release" show="timeline"></list>
    </div>

    <sidebar>
        <sidebar-group header="Search">
            <div class="search">
                <input class="search-input" ng-model="$root.search" type="text" placeholder="whatever">
                <label class="search-icon"><i class="icon icon-search"></i></label>
            </div>
        </sidebar-group>
        
        <sidebar-group header="Apps">
            <tags icon="false" active="true" items="productsWithReleases"></tags> 
        </sidebar-group>
    </sidebar>
</section>