<section class="container container-sidebar">
    <div class="row">
        <div class="timeline timeline-vertical">
            <div class="timeline-bar"></div>
        </div>

        <list items="releases" type="release" show="timeline, date"></list>
    </div>

    <sidebar>
        <sidebar-group header="Search">
            <div class="search">
                <input class="search-input" ng-model="$root.search" type="text" placeholder="whatever">
                <label class="search-icon">
                    <svg class="icon">
                        <use xlink:href="./img/icons/icons.svg#search"></use>
                    </svg>
                </label>
            </div>
        </sidebar-group>
        
        <sidebar-group header="Apps">
            <tags icon="false" active="true" items="appsWithReleases"></tags> 
        </sidebar-group>
    </sidebar>
</section>