<section class="container">
    <div class="detail item">
        <div class="item-icon-container">
            <div class="item-icon" ng-include="'/img/icons/apps/' + item.alias + '.svg'"></div>
        </div>

        <div class="item-inner">
            <div class="item-header">
                <h1>{{ item.name }} {{ item.release.version }}</h1>
            </div>

            <div class="item-body">
                <p>{{ item.caption }}</h1>
            </div>
        </div>

        <div class="item-actions">
            <a class="item-action item-action-close" href="/#/apps/" title="Back to list"><i class="icon icon-arrow icon-arrow-up"></i></a>
        </div>

        <loader size="small" active="itemIsLoading"></loader>
    </div>
</section>

<preview app="item" show="true" title="{{ item.name }} Preview"></preview>

<section class="container row">
    <list ng-if="featuresByProduct.length" items="featuresByProduct" title="{{ item.name }} features" limit="5" show="tags, !body" type="feature"></list>
    <list ng-if="releasesByProduct.length" items="releasesByProduct" title="{{ item.name }} releases" limit="5" show="date, !body" type="release"></list>
</section>