<article class="container">
    <section>
        <list items="products" show="icon, !body" search="search" type="app" per-page="20" size="third"></list>
    </section>

    <sidebar class="sidebar-fixed">
        <sidebar-group>
            <div class="search">
                <input class="search-input" ng-model="search" type="text" placeholder="Application">
                <label class="search-icon"><i class="icon icon-search"></i></label>
            </div>
        </sidebar-group>
    </sidebar>
</article>