<section class="container container-sidebar">
    <div class="detail item">
        <a class="item-close" href="/#/features/" title="Back to list"><i class="icon icon-arrow icon-arrow-up"></i></a>

        <div class="item-inner">
            <div class="item-header">
                <h1>{{ item.title }}</h1>
            </div>

            <div class="item-body">
                <p>{{ item.data }}</p>
            </div>

            <div class="item-footer">
                <!-- <tags class="item-footer-tags" icon="true" items="item.tags"></tags> -->
                <span class="item-footer-date">Last update: <b>{{ item.updated_at }}</b></span>
            </div>
        </div>
    </div>

    <div class="subscribe">
        <div ng-if="!item.subscribed" class="subscripe-form">
            <div class="subscribe-form-header">
                <div class="subscribe-form-header-title">Interested in this feature?</div>
                <div class="subscribe-form-header-caption">Subscribe and we'll mail you when {{ item.title }} feature will be implemented</div>
            </div>
            <div class="subscribe-form-body">
                <input placeholder="E-Mail"><a class="button">Subscribe</a>
            </div>
        </div>
    </div>
    
    <sidebar>
        <sidebar-group header="Controls">
            <a class="button button-edit" href="/#/features/{{ item.id }}/edit">Edit</a>
        </sidebar-group>
    </sidebar>
</section>

