<section class="container container-sidebar">
    <div class="detail item">
        <div class="item-inner" ng-show="!itemIsLoading">
            <div class="item-header">
                <h1>{{ item.title }}</h1>
            </div>

            <div class="item-body">
                <p>{{ item.data }}</p>
            </div>

            <div class="item-footer">
                <tags ng-if="item.tags" class="item-footer-tags" icon="true" items="item.tags"></tags>
                <span ng-if="item.updated_at" class="item-footer-date">Last update: <b>{{ item.updated_at }}</b></span>
            </div>
        </div>

        <div class="item-actions">
            <a class="item-action item-action-close" href="/#/features/" title="Back to list"><i class="icon icon-arrow icon-arrow-up"></i></a>
        </div>

        <loader size="small" active="itemIsLoading"></loader>
    </div>

    <div class="subscribers">
        <div class="subscribers-list-container">
            <h3 class="subscribers-list-header">Subscribers</h3>
            <ul class="subscribers-list">
                <li ng-repeat="subscriber in item.subscribers" class="subscribers-list-item">
                    <span class="subscribers-list-item-name">{{ subscriber.name }}</span> 
                    <a href="mailto:{{ subscriber.email }}" class="subscribers-list-item-email">{{ subscriber.email }}</a>
                </li> 
            </ul>
        </div>
        <div class="subscribers-form-container">
            <div class="subscribers-form-header">
                Subscribe to feature
            </div>
            <div class="subscribers-form">
                <div class="subscribers-form-body">
                    <label><input placeholder="Name"></label>
                    <label><input placeholder="E-mail"></label>
                    <a class="button">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
    
    <sidebar>
        <sidebar-group header="Controls">
            <a class="button button-edit" href="/#/features/{{ id }}/edit">Edit</a>
        </sidebar-group>
    </sidebar>
</section>

