<section class="container container-sidebar">
    <list items="features" show="tags" type="feature" size="half"></list>
    
    <sidebar>
        <sidebar-group>
            <div class="search">
                <input class="search-input" ng-model="$root.search" placeholder="Search">
                <label class="search-icon"><svg class="icon"><use xlink:href="./img/icons/icons.svg#search"></use></svg></label>
            </div>
        </sidebar-group>
        
        <sidebar-group header="Apps">
            <tags icon="false" active="true" items="appsWithFeatures"></tags> 
        </sidebar-group>

        <sidebar-group header="Types">
            <tags icon="false" active="true" items="typesWithFeatures"></tags> 
        </sidebar-group>
    </sidebar>
</article>