<article>
    <div class="container">
        <section class="home-list">
            <h3 class="section-title">Top features</h3>
            <div class="list">
                <div class="item" ng-repeat="item in features">
                    <a class="item-open" href="#/releases/{{ item.id }}" title="Open detail"><i class="icon icon-arrow icon-arrow-right"></i></a>
        
                    <div class="item-header">
                        <div class="item-header-info">
                            <h4>{{ item.title }}</h4>
                        </div>
                    </div>
        
                    <div class="item-body">
                    </div>
                </div>
            </div>
        </section>
        <section class="home-list">
            <h3 class="section-title">Latest releases</h3>
            <div class="list">
                <div class="item" ng-repeat="item in releases">
                    <a class="item-open" href="#/releases/{{ item.id }}" title="Open detail"><i class="icon icon-arrow icon-arrow-right"></i></a>
        
                    <div class="item-header">
                        <div class="item-header-info">
                            <h4>{{ item.product.name }} {{ item.version }}</h4>
                        </div>
                    </div>
        
                    <div class="item-body">
                       
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>

<article>
    <div class="container">
        <section>
            {{ products.length }} Apps
        </section>
        <section>
            {{ releases.length }} Releases
        </section>
        <section>
            {{ features.length }} Features 
        </section>
    </div>
</article>

<article>
    <div class="container">
        <section>
            <h3 class="section-title">Apps</h3>
            <div class="list list-third">
                <div class="item" ng-repeat="item in products">
                    <a class="item-open" href="#/releases/{{ item.id }}" title="Open detail"><i class="icon icon-arrow icon-arrow-right"></i></a>

                    <div class="item-header">
                        <div class="item-header-info">
                            <h4>{{ item.name }} {{ item.version }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</article>