<article>
    <div class="container">
        <section class="home-list">
            <h3 class="section-title">Top features</h3>
            <list items="features" limit="5" show="tags, !body" type="feature"></list>
        </section>
        <section class="home-list">
            <h3 class="section-title">Latest releases</h3>
            <list items="releases" limit="5" show="date, !body" type="release"></list>
        </section>
    </div>
</article>

<article>
    <div class="container">
        <section>
            {{ products.length }} Apps
        </section>
        <section>
            {{ releases.length }} Releases
        </section>
        <section>
            {{ features.length }} Features 
        </section>
        <section>
            {{ customs.length }} customizations 
        </section>
    </div>
</article>

<article>
    <section>
        <div class="timeline timeline-horizontal">
            <div class="timeline-bar"></div>
        </div>
    </section>
</article>

<article>
    <div class="container">
        <section>
            <h3 class="section-title">Customs</h3>
            <list items="customs" type="custom" show="!body" size="half"></list>
        </section>
    </div>
</article>

<article>
    <div class="container">
        <section>
            <h3 class="section-title">Apps</h3>
            <list items="products" per-page="20" type="app" show="icon, !body" size="third"></list>
        </section>
    </div>
</article>